{% load static widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Login - Timestrap</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    </head>
    <body class="bg-primary">
        <div id="view-{{ request.resolver_match.view_name }}" class="container">
            <div class="text-center mb-4">
                <h1 class="display-3 mb-3 text-white">Timestrap</h1>
            </div>
            <div class="login-wrapper rounded">
                <div class="p-4">
                    <div class="text-center mb-4">
                        <p class="mb-0">Please login, if you need help check out our
                        <a href="https://github.com/overshard/timestrap">documentation</a>.</p>
                    </div>

                    {% if form.errors %}
                        <div class="alert alert-danger mb-5">
                            <p class="mb-0"><strong>Oh snap!</strong> Your
                            username and password didn't match. Please try
                            again.</p>
                        </div>
                    {% endif %}

                    {% if next and user.is_authenticated %}
                        <div class="alert alert-warning mb-4">
                            <p class="mb-0"><strong>Warning!</strong> Your
                            account doesn't have access to this page. To
                            proceed, please login with an account that has
                            access.</p>
                        </div>
                    {% endif %}

                    <form class="login-form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <input type="hidden" name="next" value="{{ next }}">

                        <label class="sr-only" for="username-input-group">
                            {{ form.username.label }}
                        </label>
                        <div class="input-group mb-3 fade-in">
                            <div class="input-group-addon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            {% render_field form.username name='username' class+='form-control' id='username-input-group' placeholder=form.username.label %}
                        </div>

                        <label class="sr-only" for="password-input-group">
                            {{ form.password.label }}
                        </label>
                        <div class="input-group mb-3 fade-in">
                            <div class="input-group-addon">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            {% render_field form.password name='password' class+='form-control' id='password-input-group' placeholder=form.password.label %}
                        </div>

                        <button class="btn btn-primary w-100 fade-in" type="submit" name="login">
                            Login
                        </button>
                    </form>
                </div>

                <div class="bg-faded text-center px-4 py-3 rounded-bottom">
                    <a href="{% url 'password_reset' %}" name="reset">Forgot your password?</a>
                </div>
            </div>
        </div>
    </body>
</html>
