{% extends "base.html" %}
{% load widget_tweaks %}


{% block meta_title %}Login{% endblock %}
{% block title_breadcrumb %}{% endblock %}


{% block content %}
    <div class="login-wrapper">
        <div class="text-center mb-5">
            <h1 class="display-3 mb-3">Timestrap</h1>
            <p class="small">Please login and if you need help check out our
            <a href="https://github.com/overshard/timestrap">documentation</a>.</p>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger mb-5">
                <strong>Oh snap!</strong> Your username and password didn't
                match. Please try again.
            </div>
        {% endif %}

        {% if next and user.is_authenticated %}
            <div class="alert alert-warning mb-5">
                <strong>Warning!</strong> Your account doesn't have access to
                this page. To proceed, please login with an account that has
                access.
            </div>
        {% endif %}

        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ form.username.label }}</label>
                <div class="col-sm-9">
                    {% render_field form.username class+='form-control' placeholder=form.username.label %}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ form.password.label }}</label>
                <div class="col-sm-9">
                    {% render_field form.password class+='form-control' placeholder=form.password.label %}
                </div>
            </div>

            <div class="form-group row mt-5">
                <div class="offset-sm-3 col-sm-9">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-secondary" href="{% url 'password_reset' %}">Lost password?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
