{
  "rules": {
    "linebreak-style": ["error", "unix"],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "array-bracket-spacing": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "vue/html-indent": ["error", 2],
    "vue/require-prop-types": "off"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "timestrapConfig": true,
    "process": true,
    "__dirname": true
  },
  "parser": "vue-eslint-parser",
  "extends": ["plugin:vue/recommended", "eslint:recommended"],
  "plugins": ["vue"],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
