# python
*.pyc
/venv
/.venv

# node
/node_modules

# database
/db.sqlite3

# static files from gulp and testing
/media
/static

# documentation builds
_build

# geckodriver/selenium
/geckodriver.log

# visual studio code project settings
/.vscode

# code coverage
.coverage
