# python
*.pyc
/venv
/.venv

# node
/node_modules

# environmentals
/.env
/.env.json
/env
/env.json

# database
/db.sqlite3

# static files from gulp and testing
/media
/static
/client/static

# documentation builds
/docs/_build

# geckodriver/selenium
/geckodriver.log

# visual studio code project settings
/.vscode

# code coverage
/.coverage*
!/.coveragerc

# mkdocs
/docs/dist
