[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "<3.3"
channels = "<2.5"
channels-redis = "<2.5"
dj-database-url = "*"
django = "<4"
django-filter = "<2.5"
django-import-export = "<2.3"
django-widget-tweaks = "<1.5"
djangorestframework = "<3.12"
faker = "<4.1.1"
ipaddress = "*"
psycopg2 = "*"
whitenoise = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mkdocs = "*"
mkdocs-material = "*"

[requires]
python_version = "3.10"
