[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
"flake8" = "*"
coveralls = "*"
selenium = "*"
sphinx = "*"
recommonmark = "*"
"sphinx-rtd-theme" = "*"

[packages]
django = "*"
"django-widget-tweaks" = "*"
whitenoise = "*"
djangorestframework = "*"
"django-filter" = "*"
"django-import-export" = "*"
faker = "*"
"dj-database-url" = "*"
"psycopg2-binary" = "*"
ipaddress = "*"
channels = "*"
