[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
coveralls = "*"
selenium = "*"
tblib = "*"
mkdocs = "*"
mkdocs-material = "*"
black = "==19.10b0"

[packages]
django = "==3.0.12"
"django-widget-tweaks" = "*"
whitenoise = "==5.1.0"
djangorestframework = "*"
"django-filter" = "*"
"django-import-export" = "*"
faker = "*"
"dj-database-url" = "*"
"psycopg2-binary" = "*"
ipaddress = "*"
channels = "*"
asgiref = "*"
channels-redis = "*"

[requires]
python_version = "3.7"
