{% load static compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block meta_title %}{% endblock %} - Timestrap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Global stylesheets #}
        {# TODO: Clean these up before release #}
        <link rel="stylesheet" type="text/css" crossorigin="anonymous"
            href="https://unpkg.com/bootstrap@4.0.0-alpha.6/dist/css/bootstrap.min.css"
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ">
        <link rel="stylesheet" type="text/css" crossorigin="anonymous"
            href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN">
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/base.scss' %}">
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body>
        <div class="navbar sticky-top navbar-toggleable-sm navbar-inverse bg-primary mb-4">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand mb-0">{% block title %}{% endblock %}</h1>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'timesheets' %}">Timesheets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tasks' %}">Tasks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'entries' %}">Entries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/">API</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/">Admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <a class="navbar-brand" href="https://github.com/overshard/timestrap" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        {# TODO: Clean these up before release #}
        <script type="text/javascript" crossorigin="anonymous"
            src="https://unpkg.com/jquery@3.2.1/dist/jquery.min.js"
            integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
        <script type="text/javascript" crossorigin="anonymous"
            src="https://unpkg.com/tether@1.4.0/dist/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"></script>
        <script type="text/javascript" crossorigin="anonymous"
            src="https://unpkg.com/bootstrap@4.0.0-alpha.6/dist/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"></script>
        <script type="text/javascript" crossorigin="anonymous"
            src="https://unpkg.com/riot@3.4.2/riot+compiler.min.js"
            integrity="sha384-uTFABZJTGxdQCuAGYhk8PBeBnuera25ceofBYR7LoHeaw6UMY30nUPaFVWKlBxYE"></script>
        {% compress js %}
            <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
