{% load static compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{% block meta_title %}{% endblock %} - Timestrap</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        {# Global stylesheets #}
        {# TODO: Figure out why bootstrap nav messes up when compressed #}
        <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" %}/>
        {% compress css %}
            <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" %}/>
            <link rel="stylesheet" href="{% static 'vendor/tether/css/tether.min.css' %}" %}/>
            <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}" %}/>
            <link rel="stylesheet" href="{% static 'vendor/pickadate/themes/default.css' %}" %}/>
            <link rel="stylesheet" href="{% static 'vendor/pickadate/themes/default.date.css' %}" %}/>

            <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        {% endcompress %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body>
        <div class="navbar sticky-top navbar-toggleable-sm navbar-inverse bg-primary mb-4">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard' %}">Timestrap</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        {% if perms.timesheets.view_client %}
                            <li class="nav-item">
                                {% url 'clients' as url %}
                                <a class="nav-link {% if request.path == url %}active{% endif %}"
                                   href="{{ url }}">Clients</a>
                            </li>
                        {% endif %}
                        {% if perms.timesheets.view_entry %}
                            <li class="nav-item">
                                {% url 'entries' as url %}
                                <a class="nav-link {% if request.path == url %}active{% endif %}"
                                   href="{{ url }}">Timesheet</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% url 'reports' as url %}
                            <a class="nav-link {% if request.path == url %}active{% endif %}"
                               href="{{ url }}">Reports</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/admin/"  data-toggle="dropdown">{{ user.username }}</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="/api/">API Browser</a>
                                    {% if user.is_staff %}
                                        <a class="dropdown-item" href="/admin/">Admin</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>


        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        {% compress js %}
            <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
            <script src="{% static 'vendor/tether/js/tether.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
            <script src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
            <script src="{% static 'vendor/pickadate/picker.js' %}"></script>
            <script src="{% static 'vendor/pickadate/picker.date.js' %}"></script>
            <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
            <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
            <script src="{% static 'vendor/riot/riot+compiler.min.js' %}"></script>

            <script src="{% static 'js/base.js' %}"></script>
        {% endcompress %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
