{% extends "base.html" %}
{% load static %}


{% block meta_title %}Entries{% endblock %}


{% block content %}
    <div id="main"></div>
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/clients.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/client.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/project.tag' %}"></script>

    <script type="riot/tag" src="{% static 'core/tags/entries.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/entry.tag' %}"></script>

    <script type="riot/tag" src="{% static 'core/tags/reports.tag' %}"></script>

    <script type="riot/tag" src="{% static 'core/tags/pager.tag' %}"></script>

    <script src="{% static 'core/js/router.js' %}"></script>
{% endblock %}
