{% extends "base.html" %}
{% load static %}


{% block meta_title %}Clients{% endblock %}


{% block content %}
    <clients />
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/clients.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/client.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/project.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/pager.tag' %}"></script>
    <script>
        riot.mount('clients');
    </script>
{% endblock %}
