{% extends "base.html" %}
{% load static %}


{% block meta_title %}Dashboard{% endblock %}


{% block content %}
    <div class="row my-5 px-2 d-flex justify-content-between">
        <div class="col-sm-4 col-md-3 bg-success p-4 mb-3 rounded">
            <canvas id="projectsPerClient"></canvas>
            <h5 class="text-absolute-middle font-weight-normal text-white">
                {{ total_projects }} Projects
            </h5>
        </div>

        <div class="col-sm-4 col-md-3 bg-danger p-4 mb-3 rounded">
            <canvas id="entriesPerClient"></canvas>
            <h5 class="text-absolute-middle font-weight-normal text-white">
                {{ total_entries }} Entries
            </h5>
        </div>

        <div class="col-sm-4 col-md-3 bg-warning p-4 mb-3 rounded">
            <canvas id="timePerClient"></canvas>
            <h5 class="text-absolute-middle font-weight-normal text-white">
                {{ total_hours }} Hours
            </h5>
        </div>
    </div>

    <div class="card w-100 hidden-xs-down">
        <h5 class="card-header">Hours Per Day</h5>
        <div class="card-block">
            <canvas id="totalTimePerDay" height="75"></canvas>
        </div>
    </div>

    <div class="card w-100 hidden-xs-down mt-5">
        <h5 class="card-header">Projects Percent Done</h5>
        <div class="card-block">
            {% for project in projects %}
                <div class="row">
                    <div class="col-5 percent-done-name">
                        {{ project.name }}
                    </div>
                    <div class="col-7">
                        <div class="progress w-100">
                            <div class="progress-bar{% if project.get_percent_done > 100 %} bg-danger{% endif %}"
                                 style="width: {{ project.get_percent_done }}%">
                                {{ project.get_percent_done }}%
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var totalTimePerDay = document.getElementById("totalTimePerDay");
        var totalTimePerDayChart = new Chart(totalTimePerDay, {
            type: 'line',
            data: {
                labels: [
                    {% for k, v in time_per_day.items %}
                        "{{ k }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for k, v in time_per_day.items %}
                            {{ v }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: "rgba(54, 202, 235, 0.2)",
                    borderColor: "rgb(54, 202, 235)",
                    lineTension: 0
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });

        var projectsPerClient = document.getElementById("projectsPerClient");
        var projectsPerClientChart = new Chart(projectsPerClient, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for client in clients %}
                        "{{ client.name }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for client in clients %}
                            "{{ client.projects.count }}"{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: "white",
                    borderColor: "#5cb85c"
                }]
            },
            options: {
                cutoutPercentage: 85,
                legend: {
                    display: false
                }
            }
        });

        var entriesPerClient = document.getElementById("entriesPerClient");
        var entriesPerClientChart = new Chart(entriesPerClient, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for client in clients %}
                        "{{ client.name }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for entries in entries_per_client %}
                            "{{ entries }}"{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: "white",
                    borderColor: "#d9534f"
                }]
            },
            options: {
                cutoutPercentage: 85,
                legend: {
                    display: false
                }
            }
        });

        var timePerClient = document.getElementById("timePerClient");
        var timePerClientChart = new Chart(timePerClient, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for client in clients %}
                        "{{ client.name }}"{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for total_time in time_per_client %}
                            "{{ total_time }}"{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    backgroundColor: "white",
                    borderColor: "#f0ad4e"
                }]
            },
            options: {
                cutoutPercentage: 85,
                legend: {
                    display: false
                }
            }
        });
    </script>
{% endblock %}
