{% extends "base.html" %}
{% load static %}


{% block meta_title %}Entries{% endblock %}
{% block title %}Entries{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        {% if task %}
            <li class="breadcrumb-item"><a href="{% url 'timesheets' %}">{{ task.timesheet }}</a></li>
            <li class="breadcrumb-item">
                <a href="{% url 'tasks' %}?timesheet={{ task.timesheet.id }}">{{ task }}</a>
            </li>
        {% elif timesheet %}
            <li class="breadcrumb-item"><a href="{% url 'timesheets' %}">{{ timesheet }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">Entries</li>
    </ol>

    <entries />
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/entries.tag' %}"></script>
    <script>riot.mount('entries')</script>
{% endblock %}
