{% extends "base.html" %}
{% load static %}


{% block meta_title %}Projects{% endblock %}
{% block title %}Projects{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    {% if client %}
        <li class="breadcrumb-item"><a href="{% url 'clients' %}">{{ client }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active">Projects</li>
{% endblock %}


{% block content %}
    <projects />
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/projects.tag' %}"></script>
    <script>
        var projectsApiUrl = "{% url 'project-list' %}?client={{ client.id }}";
        {% if client %}
            var clientsApiUrl = "{% url 'client-list' %}?id={{ client.id }}";
        {% else %}
            var clientsApiUrl = "{% url 'client-list' %}";
        {% endif %}
        var entriesUrl = "{% url 'entries' %}?project=";
        riot.mount('projects');
    </script>
{% endblock %}
