{% extends "base.html" %}
{% load static %}


{% block meta_title %}Reports{% endblock %}


{% block content %}
    <reports />
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/reports.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/pager.tag' %}"></script>
    <script>
        var usersApiUrl = "{% url 'user-list' %}";
        var clientsApiUrl = "{% url 'client-list' %}";
        var projectsApiUrl = "{% url 'project-list' %}";
        var entriesApiUrl = "{% url 'entry-list' %}";
        var reportsExportUrl = "{% url 'reports-export' %}";
		var userId = {{ user.id }};
        riot.mount('reports', {
            format: {
                'csv' : 'csv',
                'xls' : 'xls'
            }
        }
        );
    </script> 
{% endblock %}
