{% extends "base.html" %}
{% load static %}


{% block meta_title %}Tasks{% endblock %}
{% block title %}Tasks{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        {% if timesheet %}
            <li class="breadcrumb-item"><a href="{% url 'timesheets' %}">{{ timesheet }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">Tasks</li>
    </ol>

    <tasks />
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/tasks.tag' %}"></script>
    <script>
        var tasksApiUrl = "{% url 'task-list' %}?timesheet={{ timesheet.id }}";
        {% if timesheet %}
            var timesheetsApiUrl = "{% url 'timesheet-list' %}?id={{ timesheet.id }}";
        {% else %}
            var timesheetsApiUrl = "{% url 'timesheet-list' %}";
        {% endif %}
        var entriesUrl = "{% url 'entries' %}?task=";
        riot.mount('tasks');
    </script>
{% endblock %}
