{% extends "base.html" %}
{% load static %}


{% block meta_title %}Timesheets{% endblock %}
{% block title %}Timesheets{% endblock %}


{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active">Timesheets</li>
    </ol>

    <timesheets />
{% endblock %}


{% block extra_js %}
    <script type="riot/tag" src="{% static 'core/tags/timesheets.tag' %}"></script>
    <script type="riot/tag" src="{% static 'core/tags/timesheet.tag' %}"></script>
    <script>
        var timesheetsApiUrl = "{% url 'timesheet-list' %}";
        var tasksUrl = "{% url 'tasks' %}?timesheet=";
        var entriesUrl = "{% url 'entries' %}?task__timesheet=";
        riot.mount('timesheets, timesheet');
    </script>
{% endblock %}
