// sass-lint:disable class-name-format

.select2-container--default .select2-selection--single {
    border: 1px solid $form-border-color;
    height: 31px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
    font-size: .875rem;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $placeholder-font-color;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px;
}
