// sass-lint:disable class-name-format

#timer-value {
    display: inline-block;
    background: #bcbec0;
    padding: .1em .4em;
    border-radius: .2em;
    font-size: 1.4rem;
    color: #fff;

    span {
        color: #efefef;
        font-size: .8em;
    }
}
