// sass-lint:disable class-name-format

#timer-value {
    display: inline-block;
    background: #fdfdfd;
    padding: .1em .4em;
    border-radius: .2em;

    span {
        color: #aaa;
        font-size: .8em;
    }
}
