.client {
    font-size: .9em;

    .row {
        border-top: 1px solid #eee;

        &:last-child {
            border-bottom: 1px solid #eee;
            margin-bottom: 1rem;
        }
    }
}

.project {
    background: #fff;
}
