@import 'variables';

#view-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-wrapper {
    max-width: 400px;
    margin: 0 auto;
    background-color: $white;

    .bg-faded {
        border-top: 1px solid $login-dark-gray;
    }
}
