@import 'variables';


#task-rows {
    .task {
        font-size: .9em;
        border-top: 1px solid #eee;

        &:not(.bg-secondary) {
            &:nth-of-type(2n+1) {
                background-color: $striping-row-color !important;
            }
        }
        
        &:last-child {
            border-bottom: 1px solid #eee;
            margin-bottom: 1rem;
        }
}
}
