@import 'variables';


.chartjs-wrapper {
    height: 250px;
}

#entry-rows {
    .row:not(.inset-row) {
        border-top: 1px solid $row-border-color;

        &:first-child {
            border-top-right-radius: .25rem;
            border-top-left-radius: .25rem;
        }

        &:nth-of-type(2n+1) {
            background-color: $striping-row-color !important;
        }

        &:last-child {
            border-bottom-right-radius: .25rem;
            border-bottom-left-radius: .25rem;
            border-bottom: 1px solid $row-border-color;
        }

        // Fix for override of striping-row-color above
        &.bg-success {
            background-color: #28a745 !important;
        }
    }

    .duration {
        display: flex;
    }

    .datetimes {
        display: none;
    }

    .row:hover,
    .row:focus {
        .duration {
            display: none;
        }

        .datetimes {
            display: flex;
        }
    }

    .duration.display-4 {
        font-size: 1.5rem;
    }

    .entry-note {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .note {
        line-height: 1.3;
        margin-bottom: 3px;
    }

    .username {
        overflow-x: hidden;
    }

    .fa-clock-o {
        line-height: 1.3em;
    }

    .client-project {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .inset-row {
        margin-bottom: -.75rem;

        .display-4 {
            font-size: 2rem;
        }
    }
}

.btn-icon {
    &::after {
        display: none;
    }
}
