.login-form,
.login-errors {
    max-width: 400px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
}

a.btn {
    color: white !important;
}

.fa-spinner {
    font-size: 4em;
    @include animation(rotating 1s linear infinite);
}
