@mixin rotate($property) {
    -webkit-transform: rotate($property);
       -moz-transform: rotate($property);
        -ms-transform: rotate($property);
         -o-transform: rotate($property);
            transform: rotate($property);
}

@mixin animation($property) {
    -webkit-animation: $property;
       -moz-animation: $property;
        -ms-animation: $property;
         -o-animation: $property;
            animation: $property;
}

@mixin placeholder($property) {
    &::-webkit-input-placeholder {
        color: $property !important;
    }
    
    &::-moz-placeholder {
        color: $property !important;
    }
    
    &:-ms-input-placeholder {
        color: $property !important;
    }
    
    &::placeholder {
        color: $property !important;
    }
}
