@mixin rotate($property) {
    -webkit-transform: rotate($property);
       -moz-transform: rotate($property);
        -ms-transform: rotate($property);
         -o-transform: rotate($property);
            transform: rotate($property);
}

@mixin animation($property) {
    -webkit-animation: $property;
       -moz-animation: $property;
        -ms-animation: $property;
         -o-animation: $property;
            animation: $property;
}


@keyframes rotating {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}


.login-form,
.login-errors {
    max-width: 400px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
}

.fa-spinner {
    font-size: 4em;
    @include animation(rotating 1s linear infinite);
}
