{% extends "registration/base.html" %}
{% load static widget_tweaks %}


{% block title %}Forgot Password{% endblock %}


{% block content %}
<div class="p-4">
    <form method="post">
        {% csrf_token %}

        <div class="form-group mb-3 fade-in">
            <label for="email-input-group">
                {{ form.email.label }}
            </label>
            {% render_field form.email name='email' class+='form-control' id='email-input-group' placeholder=form.email.label %}
        </div>

        <button class="btn btn-primary w-100 mt-3 fade-in" type="submit" name="reset">
            Reset Password
        </button>
    </form>
</div>
{% endblock %}
